@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(103, 58, 183, 0.8), rgba(33, 150, 243, 0.5));
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.title {
    width: 60%;
    display: inline-block;
    margin: 190px auto 0;
    color: #fff;
    text-align: center;
}

.title h1 {
    margin-bottom: 30px;
    line-height: 22px;
}

.title p {
    font-size: 13px;
}

.container {
    min-height: 10evh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-counter {
    height: 200px;
    width: 200px;
    color: #fff;
    margin: 15px;
    padding-top: 20px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    position: relative;
}

.counter-box {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -4px #66676c;
}

.counter-box h2 {
    font-size: 50px;
    color: #717171;
}

.counter-box h4 {
    font-size: 15px;
    color: #717171;
}

h2,
span {
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #717171;
}

.counter-box .fa {
    font-size: 40px;
    color: #717171;
    display: block;
}

@media (max-width: 768px) {
    .title {
        margin: 90px auto 0;
    }
    
}
